/*** ABOUT ***/

.container-about {
    margin: 40px;
    background-color: rgb(150, 0, 0); /* Needed for IEs */
    -moz-box-shadow: 10px 10px 10px #cccbcb;
    -webkit-box-shadow: 10px 10px 10px #cccbcb;
    box-shadow: 10px 10px 10px #cccbcb;
}

.card {
    max-width: 55%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    font-family: 'Lion-King';
    position: relative; /* This protects the inner element from being blurred */
    padding: 100px;
    background-color: #DDD;
}

.card-header {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
     font-size: 1.2rem;
     font-family: 'Marcellus', serif;
}

.card-subheader {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.card-subtitle {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-subtext {
    font-family: 'Marcellus', serif;
    font-size: 1.2rem;
}
