/*** ABOUT ***/

.card {
    max-width: 55%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    font-family: 'Lion-King';
}

.card-header {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
     font-size: 1.2rem;
     font-family: 'Marcellus', serif;
}

.card-subheader {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.card-subtitle {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-subtext {
    font-family: 'Marcellus', serif;
    font-size: 1.2rem;
}
