.card-about {
    background-color: rgb(15, 14, 14);
    color: #fff;
    padding: 120px;
    font-family: 'Marcellus SC', serif;
}

.card-desc {
    max-width: 60%;
    margin: 0 auto;
}

.card-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Cinzel Decorative', cursive;
}

.card-text {
    font-size: 1.2rem;
}

.about-icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}