/* CHARACTERS */

/* Jumbotron */
  .jumbotron {
    padding: 30px; /* fills out the jumbotron */
    background-color:#ff7c01;
  }
  
  .container-jumbotron {
     margin: 0 auto; /* centers the container */
     padding: 0 15px; /* adds some padding to the left and right */ 
  }
  
  .jumbotron .container {
      max-width: 100%; /*  allows the jumbotron to adjust on smaller widths */
  }
  
  .jumbotron h1 {
      padding: 100px;
      text-align: center;
      font-size: 4rem;
      font-family: 'Waltograph';
  }

  .arrow-down {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 30px;
    height: 30px;
 }

 .label {
     display: block;
     cursor: pointer;
     padding: 10px;
 }

 /* hide the checkbox */
 input[type="checkbox"]{
    position: absolute;
    left: -9999px;
  }

/* show the collapsible */
  input[type="checkbox"] ~ h2 {
    height: 0;    
    transform: scaleY(0);
  }

/* hide the collapsible */
  input[type="checkbox"]:checked ~ h2 {
    height: 100%;
    transform-origin: top;
    transition: transform .3s ease-out;
    transform: scaleY(1); 
  }
 
.collapsible-text {
    text-align: center;
    font-family: 'Waltograph';
    font-size: 2rem;
}
  
/* Elephant icon */
.elephant-icon {
/* center the icon, make it responsive */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.elephant {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}  

/* GRID */
.container-characters {
  /* fr - fraction unit, it represents a fraction of the available space in the grid container */
  height: 300vh;
  margin: 2rem;
  display: grid;
  /* 3 equal columns */
  grid-template-columns: 1fr 1fr;
  /* 4 equal rows */
  grid-row: 1fr 1fr 1fr 1fr 1fr;
  /* gap between grid cells */
  grid-gap: 10px 10px
}

.name {
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  font-size: 3rem;
  font-family: 'Waltograph';
}

.name:hover {
  color: rgb(182, 18, 182);
}



#char {
  text-decoration: none;
  color: #000;
}

.container-characters > .link:hover {
 color: black;
}



.ending {
  font-family: 'Waltograph';
  text-align: center;
}

.character-1 {
  background-color: #FCF03C;
  background-image: url("../img/icons/lion.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.character-2 {
  background-color: #ff7c01;
  background-image: url("../img/icons/lioness.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.character-3 {
  background-color: #ff7c01;
  background-image: url("../img/icons/smalllion.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.character-4 {
  background-color: #FCF03C;
  background-image: url("../img/icons/smalllion.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.character-5 {
  background-color: #FCF03C;
  background-image: url("../img/icons/lion.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.character-6 {
  background-color: #ff7c01;
  background-image: url("../img/icons/meerkat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.character-7 {
  background-color: #ff7c01;
  background-image: url("../img/icons/hog.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.character-8 {
  background-color: #FCF03C;
  background-image: url("../img/icons/mandrill.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.character-9 {
  background-color: #FCF03C;
  background-image: url("../img/icons/hornbill.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.character-10 {
  background-color: #ff7c01;
  background-image: url("../img/icons/hyena.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.character-11 {
  background-color: #ff7c01;
  background-image: url("../img/icons/lion.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.character-12 {
  background-color: #FCF03C;
  background-image: url("../img/icons/lioness.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}
