.intro-img {
  height: 100%;
  max-width: 100%;
  margin-top: -10px;
}

.jumbotron {
  background-color: rgb(15, 14, 14);
  margin-top: -4px;
  padding: 50px;
  text-align: center;
  font-family: 'Cinzel', serif;
  color: #fff;
  border: 0.5px solid yellow;
}

.jumbo-btn {
  margin: 40px;
  padding: 25px;
  font-size: 1rem;
  border-radius: 0%;
  font-family: 'Cinzel', serif;
  border: none;
  background-color: rgb(214, 11, 11);
  color: #fff;
}

.jumbo-title {
  font-size: 3rem;
}

/* :::::::::: CARDS NEWS :::::::::: */
.cards-news {
  padding: 10px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 100px;
  max-width: 1160px;
}

article, .desc {
  margin-top: 20px;
}

.jumbo-title-news {
  font-size: 2rem;
}



  