/* ANIMATED-COLUMN-LAYOUT ONE */
* {
    box-sizing: border-box;
  }
  
  .strips {
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    color: white;
  }
  .strips__strip {
    will-change: width, left, z-index, height;
    position: absolute;
    width: 20%;
    min-height: 100vh;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .strips__strip:nth-child(1) {
    left: 0;
  }
  .strips__strip:nth-child(2) {
    left: 20vw;
  }
  .strips__strip:nth-child(3) {
    left: 40vw;
  }
  .strips__strip:nth-child(4) {
    left: 60vw;
  }
  .strips__strip:nth-child(5) {
    left: 80vw;
  }
  .strips__strip:nth-child(1) .strip__content {
    background-image: url("../img/photos/mufasa.jpg");
    background-position: center;
    transform: translate3d(-100%, 0, 0);
    -webkit-animation-name: strip1;
            animation-name: strip1;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .strips__strip:nth-child(2) .strip__content {
    background-image: url("../img/photos/sarabi.png");
    background-position: center;
    transform: translate3d(0, 100%, 0);
    -webkit-animation-name: strip2;
            animation-name: strip2;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .strips__strip:nth-child(3) .strip__content {
    background-image: url("../img/photos/youngsimba.png");
    background-position: center;
    transform: translate3d(0, -100%, 0);
    -webkit-animation-name: strip3;
            animation-name: strip3;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .strips__strip:nth-child(4) .strip__content {
    background-image: url("../img/photos/youngnala.png");
    background-position: center;
    transform: translate3d(0, 100%, 0);
    -webkit-animation-name: strip4;
            animation-name: strip4;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .strips__strip:nth-child(5) .strip__content {
    background-image: url("../img/photos/scar.jpg");
    background-position: center;
    transform: translate3d(100%, 0, 0);
    -webkit-animation-name: strip5;
            animation-name: strip5;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  @media screen and (max-width: 760px) {
    .strips__strip {
      min-height: 20vh;
    }
    .strips__strip:nth-child(1) {
      top: 9.2vh;
      left: 0;
      width: 100%;
    }
    .strips__strip:nth-child(2) {
      top: 29.1vh;
      left: 0;
      width: 100%;
    }
    .strips__strip:nth-child(3) {
      top: 49vh;
      left: 0;
      width: 100%;
    }
    .strips__strip:nth-child(4) {
      top: 68.2vh;
      left: 0;
      width: 100%;
    }
    .strips__strip:nth-child(5) {
      top: 87.4vh;
      left: 0;
      width: 100%;
    }
  }
  .strips .strip__content {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  .strips .strip__content:hover:before {
    transform: skew(-30deg) scale(3) translate(0, 0);
    opacity: 0.1;
  }
  .strips .strip__content:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.05;
    transform-origin: center center;
    transform: skew(-30deg) scaleY(1) translate(0, 0);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .strip__title {
    display: block;
    margin: 0;
    position: relative;
    z-index: 2;
    width: 100%;
    font-size: 3.5vw;
    color: white;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    font-family: 'Lion King';
  }
  @media screen and (max-width: 760px) {
    .strip__title {
      font-size: 28px;
    }
  }
  
  
  
  @-webkit-keyframes strip1 {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes strip1 {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes strip2 {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes strip2 {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes strip3 {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes strip3 {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes strip4 {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes strip4 {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes strip5 {
    0% {
      transform: translate3d(100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes strip5 {
    0% {
      transform: translate3d(100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  /* ANIMATED COLUMN LAYOUT TWO */
  * {
    box-sizing: border-box;
  }
  
  .strips__2 {
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    color: white;
  }
  .strips__strip__2 {
    will-change: width, left, z-index, height;
    position: absolute;
    width: 20%;
    min-height: 100vh;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .strips__strip__2:nth-child(1) {
    left: 0;
  }
  .strips__strip__2:nth-child(2) {
    left: 20vw;
  }
  .strips__strip__2:nth-child(3) {
    left: 40vw;
  }
  .strips__strip__2:nth-child(4) {
    left: 60vw;
  }
  .strips__strip__2:nth-child(5) {
    left: 80vw;
  }
  .strips__strip__2:nth-child(1) .strip__content__2 {
    background-image: url("../img/photos/pumba.jpg");
   background-position: center;
    transform: translate3d(-100%, 0, 0);
    -webkit-animation-name: strip1;
            animation-name: strip1;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .strips__strip__2:nth-child(2) .strip__content__2 {
    background-image: url("../img/photos/timon.jpg");
    background-position: center;
    transform: translate3d(0, 100%, 0);
    -webkit-animation-name: strip2;
            animation-name: strip2;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .strips__strip__2:nth-child(3) .strip__content__2 {
    background-image: url("../img/photos/zazu.jpg");
    background-position: center;
    transform: translate3d(0, -100%, 0);
    -webkit-animation-name: strip3;
            animation-name: strip3;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .strips__strip__2:nth-child(4) .strip__content__2 {
    background-image: url("../img/photos/rafiki.jpg");
    background-position: center;
    transform: translate3d(0, 100%, 0);
    -webkit-animation-name: strip4;
            animation-name: strip4;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .strips__strip__2:nth-child(5) .strip__content__2 {
    background-image: url("../img/photos/shenzi3.jpg");
    background-position: center;
    transform: translate3d(100%, 0, 0);
    -webkit-animation-name: strip5;
            animation-name: strip5;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  @media screen and (max-width: 760px) {
    .strips__strip__2 {
      margin-top: -450px;
      min-height: 20vh;
    }
    .strips__strip__2:nth-child(1) {
        top: 160vh;
        left: 0;
      width: 100%;
    }
    .strips__strip__2:nth-child(2) {
      top: 180vh;
      left: 0;
      width: 100%;
    }
    .strips__strip__2:nth-child(3) {
        top: 200vh;
        left: 0;
      width: 100%;
    }
    .strips__strip__2:nth-child(4) {
        top: 219vh;
        left: 0;
      width: 100%;
    }
    .strips__strip__2:nth-child(5) {
        top: 238vh;
        left: 0;
      width: 100%;
    }
  }
  .strips__2 .strip__content__2 {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  .strips__2 .strip__content__2:hover:before {
    transform: skew(-30deg) scale(3) translate(0, 0);
    opacity: 0.1;
  }
  .strips__2 .strip__content__2:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.05;
    transform-origin: center center;
    transform: skew(-30deg) scaleY(1) translate(0, 0);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .strip__title__2 {
    display: block;
    margin: 0;
    position: relative;
    z-index: 2;
    width: 100%;
    font-size: 3.5vw;
    color: white;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    font-family: 'Lion King';
  }
  @media screen and (max-width: 760px) {
    .strip__title__2 {
      font-size: 28px;
    }
  }
  
  
  
  @-webkit-keyframes strip1 {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes strip1 {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes strip2 {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes strip2 {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes strip3 {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes strip3 {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes strip4 {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes strip4 {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes strip5 {
    0% {
      transform: translate3d(100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes strip5 {
    0% {
      transform: translate3d(100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  