/* FONTS */
@font-face {
    font-family: 'Waltograph';
    font-family: 'Lion King';
    /* src: url('waltograph42.otf'); */
    src: local('fonts/waltographUI.ttf');
    src: local('fonts/lion_king.ttf');
  }

/* Footer - make body as flexbox so the footer can stick to the bottom */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

.container {
    flex: 1; /* same as flex-grow: 1; */
}

.font {
    font-family: 'Lion King', sans-serif;
}

p {
    font-family: 'Raleway';
}

/* DISPLAY */
.display {
    max-width: 100%;
    height: 100%;
}

/* header */
.card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(22, 20, 20);
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card > h1 {
    font-size: 3rem;
    margin-top: 60px;
    padding: 10px;
}

.card > h2 {
    font-size: 2rem;
}

.card > h3 {
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 60px;
}

.header-two {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}



/* NAVBAR */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'Lion King'
  }
  
  .nav {
    height: 73px;
    width: 100%;
    background-color: #a70202;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 2rem;
    color: #fff;
    padding: 19px 20px 19px 20px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 1.2rem;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    margin-right: 12px;
    padding: 28px 8px 28px 8px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    color: rgb(236, 182, 5);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width: 1200px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 15px;
    }
    .nav > .nav-btn > label {
      margin-top: 20px;
      padding: 10px;
    }

    .nav > .nav-links {
      z-index: 9;
      position: absolute;
      display: block;
      width: 100%;
      background-color: #a70202;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      margin-left: 16px;
      display: block;
      width: 100%;
      height: 60px;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

/* FOOTER */
/* * - Universal selector that matches any html tag: div, body, button, all of them */
* {
    /* padding and borders included in the total width and height of the element */
    box-sizing: border-box;
    font-family: 'Waltograph';
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    font-family: 'Waltograph';
}

footer {
    background-color: #a70202;
    color: #fff;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: none;
    color: rgb(255, 208, 0);
}

.footer-title {
    color: #fff;
    font-family: 'Waltograph';
    font-size: 2rem;
    padding-bottom: 0.5rem;

}

.item-list {
    font-size: 1.5rem;
}

/* Flex container and the flex-wrap property will let the footer wrap into multiple rows based on the viewport size. */
.main-footer {
    padding: 1.25rem 1.85rem;
    display: flex;
    flex-wrap: wrap;
}

.main-footer-item {
    padding: 1.25rem;
    min-width: 12.5rem /* 200px */;
}

/* The main footer doesn’t use any specific alignment properties on smaller screens. 
As a result, flexbox automatically aligns each column to the start of the 
main axis (which, in the default case, is the left of the screen).  */ 

/* Larger screens - it looks better with media queries */
@media only screen and (min-width: 30rem /* 478px */) {
    main-footer {
        justify-content: space-around;
    }
}

@media only screen and (min-width: 77.5rem /* 1240px */) {
    main-footer {
        justify-content: space-evenly;
    }
}
/* footer main */
/* newsletter form */ 
form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #7c3303;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }

  #footer-subtitle {
      font-family: 'Waltograph';
      font-size: 1rem;
  }

/* social icons footer */
/* justify-content: center; rule aligns it to the center of the main axis at every screen size */
.footer-social {
    padding: 0 1.875rem 1.25rem;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px rgb(214, 11, 11) solid;
    padding-top: 1.25rem;
    font-size: 1rem;
}

.footer-social-list li {
    margin: 0.5rem;
}

/* flex: 1; rule on the .container element - flexbox allocated the entire positive space to it and 
pushed the footer to the very bottom of the page. */
.footer-legal {
    padding: 0.9375rem 1.875rem;
    background-color: rgb(214, 11, 11);
    font-family: 'Waltograph';
}

.footer-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}

.footer-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
    font-size: 1rem;
}

/* one before the last child */
.footer-legal-list li:nth-last-child(2) {
    flex: 1; /* same as flex-grow: 1; */
}