/* MAIN */
/* FONTS */
@font-face {
    font-family: 'Waltograph';
    font-family: 'Lion King';
    /* src: url('waltograph42.otf'); */
    src: local('fonts/waltographUI.ttf');
    src: local('fonts/lion_king.ttf');
  }

/* Footer - make body as flexbox so the footer can stick to the bottom */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

.container {
    flex: 1; /* same as flex-grow: 1; */
}

.font {
    font-family: 'Lion King', sans-serif;
}

p {
    font-family: 'Raleway';
}

/* DISPLAY */
.display {
    max-width: 100%;
    height: 100%;
}

/* header */
.header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(22, 20, 20);
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.header > h1 {
    font-size: 3rem;
    margin-top: 60px;
    padding: 10px;
}

.header > h2 {
    font-size: 2rem;
}

.header > h3 {
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 60px;
}

.header-two {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.header-responsive-img {
    margin-top: 50px;
}

.header-two-text {
    text-align: center;
    font-family: 'Waltograph';
    font-size: 1.5rem;
    margin-bottom: 50px;
}

/* navbar */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'Lion King'
  }
  
  .nav {
    height: 73px;
    width: 100%;
    background-color: #a70202;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 2rem;
    color: #fff;
    padding: 19px 20px 19px 20px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 1.2rem;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    margin-right: 12px;
    padding: 28px 8px 28px 8px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    color: rgb(236, 182, 5);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width: 1200px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 15px;
    }
    .nav > .nav-btn > label {
      margin-top: 20px;
      padding: 10px;
    }

    .nav > .nav-links {
      z-index: 9;
      position: absolute;
      display: block;
      width: 100%;
      background-color: #a70202;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      margin-left: 16px;
      display: block;
      width: 100%;
      height: 60px;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

/* */